@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* ცვლადები მუქი რეჟიმისთვის (Default) */
body.dark {
  --bg-color: #141414;
  --text-color: #ffffff;
  --card-bg: rgba(0, 0, 0, 0.7);
  --section-line: #e50914;
  --scrollbar-track: #141414;
}

/* ცვლადები ღია რეჟიმისთვის */
body.light {
  --bg-color: #f8f9fa;
  --text-color: #141414;
  --card-bg: rgba(255, 255, 255, 0.9);
  --section-line: #e50914;
  --scrollbar-track: #f8f9fa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* სქროლბარი */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--scrollbar-track); }
::-webkit-scrollbar-thumb { background: #e50914; border-radius: 10px; }